version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "koinsaari"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore"
      include: "scope"
